:root {
    --colorGray: #E4E3E1 !important;
    --colorRed: #8A2336 !important;
    --someFont: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row !important;
    }

    .sidebar {
        /*not use*/
        /*     height: 100vh;
        position: sticky;
        top: 0;
        background-image: linear-gradient(180deg, rgb(228, 227, 225) 0%, #E4E3E1 70%);*/
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .mainTest {
        /*overflow: auto;*/
        /*min-height: 75vh;*/
    }

    ::deep .nav-link.active {
        font-weight: bold;
        color: black;
    }

    ::deep .nav-link {
        padding-left: 2px !important;
        color: var(--colorRed);
    }

    .switchLanguage {
        width: 75px;
        margin: 10px;
        font-family: var(--someFont);
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
        color: #B2AFAF;
        font-size: 13px;
    }

    .linkMenu {
        text-decoration: none;
    }

    .title {
        font-size: 20px;
    }

    #header {
        text-align: center;
        background-color: #F2F2F2;
        padding-top: 5px;
        text-align: center;
        padding-left: 5px;
    }

    .btnAdmin:before {
        content: url("/images/Admin.svg");
    }

    .e-sidebar.e-left.e-open.e-disable-animation, .e-sidebar.e-right.e-open.e-disable-animation, .e-sidebar.e-right.e-close.e-disable-animation, .e-sidebar.e-left.e-close.e-disable-animation {
        top: 50px;
    }

    #wrapper .content {
        font-size: 14px;
        padding: 15px;
    }

    #wrapper .dockSidebar {
        z-index: 20 !important;
    }

    .dockSidebar.e-sidebar.e-right.e-close {
        visibility: visible;
        transform: translateX(0%);
    }

    .dockSidebar .e-sb-icon::before {
        font-size: 24px;
    }

    .dockSidebar.e-close .sidebar-item {
        padding: 5px 20px;
    }

    .dockSidebar.e-dock.e-close span.e-text {
        display: none;
    }

    .dockSidebar.e-dock.e-open span.e-text {
        display: inline-block;
    }

    .dockSidebar span.e-icons {
        line-height: 2;
    }

    .e-open .e-icons {
        margin-right: 16px;
    }

    .e-open .e-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 23px;
        font-size: 15px;
    }

    .dockSidebar .e-sb-icon {
        font-family: 'e-icons';
        font-weight: bold;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .dockSidebar .icon-calendar::before {
        content: '\e876';
    }

    .dockSidebar .icon-chart::before {
        content: '\e88c';
    }

    .dockSidebar .icon-box::before {
        content: '\e884';
    }

    .e-tbar-btn .tb-icons {
        font-family: 'e-icons';
        speak: none;
        font-size: 16px;
        text-transform: none;
        color: #8A2336;
    }

    .e-listview .e-list-item.e-focused, .e-listview .e-list-item.e-focused.e-active.e-checklist, .e-listview .e-list-item:hover {
        background-color: #E4E3E1;
        color: #8A2336;
    }

    .e-toolbar .e-icons {
        font-size: 20px;
    }

    .e-tbar-menu-icon:before {
        content: "\e87d";
    }

    .custom-button-open, .custom-button-close, .custom-button-open:hover, .custom-button-open:focus, .custom-button-open:active {
        color: #8A2336 !important;
        font-size: 20px !important;
        font-weight: bold;
        background-color: transparent !important;
        border: none !important;
        border-color: transparent !important;
        outline: none !important;
        text-decoration: none !important;
    }

        .custom-button-open:before {
            content: '\e87e';
        }

        .custom-button-close:before {
            content: '\e87d';
        }

    .main-text-content {
        font-size: 18px;
        text-align: left;
        padding-top: 50px;
        padding-left: 30px;
    }

    .main > div {
        padding: 0px !important;
    }

    .e-sidebar {
        overflow: hidden;
    }

    .sideBarMenu {
        background-color: #F2F2F2;
        margin-bottom: -101%;
        padding-bottom: 101%;
        overflow: hidden;
    }

    .sidebar-item {
        list-style-type: none;
        cursor: pointer;
    }

    .e-sidebar ul {
        padding: 0px;
    }

    .e-sidebar span.e-icons {
        color: #c0c2c5;
        line-height: 2;
    }

    .e-open .e-icons {
        margin-right: 16px;
    }

    .e-open .e-text {
        overflow: hidden;
        font-size: 15px;
    }

    .sidebar-item {
        text-align: center;
        border-bottom: 1px #e5e5e58a solid;
    }

    .e-sidebar.e-open .sidebar-item {
        padding: 5px 20px;
        color: #c0c2c5;
    }
}
