@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;

@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<div id="wrapper">
	<div id="header" style="width: 100%">
		<span style="float:left; padding-top:11px;width:2%;">
			<span class='e-icons @custom_menu_arrow' @onclick="MenuButtonClick"></span>
		</span>
		<div class="contentFooter">
			<div class="top-footer">
				<div class="logo-details" style="display:flex;margin-left:auto;justify-content:flex-end;">
					<a href="#" target="_blank" style="width:5%;">
						<img class="imageLogo" src="" alt="Logo" title="Some title" rel="nofollow noopener noreferrer"
							 style="padding-top:10px;">
					</a>
					<div class="media-icons" style="padding-top:10px;">
						<a href="#"
						   target="_blank" title="some also title" rel="nofollow noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
					</div>

					<label class="nameUser">@UserCode</label>

					<AuthorizeView Roles="Administrateur">
						<Authorized>
							<button @onclick="AdminParameter" class="btnLogout">

								<span class="btnAdmin" aria-hidden="true"></span>
							</button>
						</Authorized>
					</AuthorizeView>
					<button @onclick="UserParameter" class="btnLogout"> <span class="oi oi-cog" aria-hidden="true"></span></button>
					<button @onclick="Deconnexion" class="btnLogout"><span class="oi oi-account-logout" aria-hidden="true"></span></button>

					<!--add translate-->
					<select class="switchLanguage">
						<option value="fr-FR">Français</option>
						<option value="en-US">English</option>
						<option value="es-ES">Español</option>
						<option value="de-DE">Deutsch</option>
					</select>

				</div>
			</div>

		</div>
	</div>
	<SfSidebar class="dockSidebar sideBarMenu" Width="161" DockSize="60px" Target=".e-main-content"
			   EnableDock="true" Position="SidebarPosition.Left" @bind-IsOpen="ToggleSidebar"
			   MediaQuery="(min-width: 2000px)" Type="SidebarType.Auto">
		<ChildContent>
			<div class="dock">
				<ul>
					<li class="sidebar-item" id="toggle">
						<NavLink href="counter" class="linkMenu d-flex align-items-center gap-2 nav-link">
							<span class="sb-icons icon-calendar e-sb-icon control-icon"></span>
							<span class="e-text text-nowrap" title="menu">Menu</span>
						</NavLink>
					</li>
					<li class="sidebar-item">
						<NavLink href="fetchdata" class="linkMenu d-flex align-items-center gap-2 nav-link">
							<span class="sb-icons icon-chart e-sb-icon control-icon"></span>
							<span class="e-text text-nowrap" title="home">Home</span>
						</NavLink>
					</li>
					<AuthorizeView Roles="SomeCondition">
						<Authorized>
							<li class="sidebar-item">
								<NavLink href="fetchdata" class="linkMenu d-flex align-items-center gap-2 nav-link">
									<span class="sb-icons icon-chart e-sb-icon control-icon"></span>
									<span class="e-text" title="profile">Profile</span>
								</NavLink>
							</li>
						</Authorized>
					</AuthorizeView>
				</ul>
			</div>
		</ChildContent>
	</SfSidebar>

	<main class="mainTest">
		<article class="content px-4" style="min-height:100%;">
			@Body
		</article>
	</main>
	<footer>
		<div class="bottom-details">
			<div class="bottom_text">

				<span class="copyright_text">
					Copyright ©  @DateTime.UtcNow.Date.Year
					<a href="#" target="_blank" class="colorRed" title="someTitle" rel="nofollow noopener noreferrer">Some text.</a>All rights reserved
					<span style="color:#8A2336; font-weight:bold;padding-left:2px;">@version</span>
				</span>
				<span class="policy_terms">
					<a>Privacy policy</a>
					<a>Terms & condition</a>
				</span>

			</div>
		</div>
	</footer>
</div>

@code {
	string LangTranslate = "";
	string DrapeauTranslate = "";

	private async void OnSelected(string val)
	{
	}

	private string custom_menu_arrow { get; set; } = "custom-button-close";
	public void OnSelect(ClickEventArgs<ListData> args)
	{
		//JsRuntime.InvokeVoidAsync("open", args.ItemData.Href, "_blank");
		Navigation.NavigateTo(args.ItemData.Href);
	}

	// Specify the value of ListView component DataSource property.
	public List<ListData> List = new List<ListData>
	{
		new ListData {Id="1", Text = "Menu123", IconCss = "sb-icons icon-calendar e-sb-icon control-icon", Href = "/counter"  },
		new ListData {Id="2",Text = "Menu2", IconCss = "sb-icons icon-chart e-sb-icon control-icon", Href = "/fetchdata" },
	};
	public class ListData
	{
		public string Id { get; set; }
		public string Text { get; set; }
		public string IconCss { get; set; }
		public string Href { get; set; }
	}

	public bool ToggleSidebar = false;
	public async void MenuButtonClick()
	{
		ToggleSidebar = !ToggleSidebar;

		if (ToggleSidebar)
		{
			custom_menu_arrow = "custom-button-close";
		}
		else if (!ToggleSidebar)
		{
			custom_menu_arrow = "custom-button-open";
		}
	}

	public string HeaderText = "Header";

	System.Version? appVersion { get; set; }
	string version { get; set; }
	string cookieByUser = "";
	string UserCode = "";

	public async void VerifPrenom()
	{
		if (UserCode != "")
		{
			UserCode = "";
			StateHasChanged();
		}
	}

	protected override async Task OnInitializedAsync()
	{
		if (System.Reflection.Assembly.GetExecutingAssembly().GetName().Version != null)
		{
			appVersion = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
			version = String.Format("V{0}", appVersion);
		}

		this.StateHasChanged();
	}

	string Bearer = "";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			StateHasChanged();
		}
		VerifPrenom();
	}

	public async void Deconnexion()
	{
		Bearer = "";

		Navigation.NavigateTo("");

		this.StateHasChanged();
	}

	public void UserParameter()
	{
		Navigation.NavigateTo("userSettings");
	}

	public void AdminParameter()
	{
		Navigation.NavigateTo("admin");
	}
}

<style>
	.e-sidebar.e-left {
		top: 55px;
	}

	.e-sidebar.e-right {
		top: 55px;
	}
</style>
